<div class="item-container">
  
  <form class="form-authorization">
    <mat-form-field class="authorization-full-width">
      <input matInput type="text" placeholder="Логин" value="" />
    </mat-form-field>

    <mat-form-field class="authorization-full-width">
      <input matInput type="password" placeholder="Пароль" value="" />
    </mat-form-field>

    <div class="button-input">
      <a mat-raised-button routerLink="/account" color="primary">Войти</a>
    </div>
    
  </form>

  <div class="button-forgot-password">
    <a mat-button routerLink="/auth/recovery">Забыли пароль</a>
  </div>

</div>
