<mat-toolbar color="primary">
    <mat-toolbar-row class="head-content">
        <div class="main-logo">
            <img alt="" src="assets/images/logo.png" routerLink="" />
        </div>

        <div class="main-head">
            <div class="tap-head">ТомскАСУПроект</div>
            <div class="up-head">Портал управления персоналом</div>
        </div>

        <span class="head-spacer"></span>

        <mat-icon class="auth-icon" mat-button routerLink="/account">person</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
