<form #ngForm="ngForm" class="form-account-password" [formGroup]="form" (ngSubmit)="onChangePassword()">
    <mat-form-field class="account-password-full-width">
        <input matInput type="password" placeholder="Current password" pInputText formControlName="password" value="" />
        <mat-error *ngIf="!isTruePassword">
            Wrong password
        </mat-error>
    </mat-form-field>

    <mat-form-field class="account-password-full-width">
        <input matInput type="password" placeholder="New password" pInputText formControlName="newPassword" value="" />
        <mat-error *ngIf="isError('newPassword')">
            Wrong password
        </mat-error>
    </mat-form-field>

    <mat-form-field class="account-password-full-width">
        <input matInput type="password" placeholder="Enter again" pInputText formControlName="repeatNewPassword"
            value="" />
        <mat-error *ngIf="isError('repeatNewPassword')">
            Wrong password
        </mat-error>
        <mat-error *ngIf="!isEqualPasswords">
            Passwords do not match
        </mat-error>
    </mat-form-field>

    <mat-card-actions class="button-account-password">
        <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
            Change password
        </button>
    </mat-card-actions>
</form>
