.form-account-password {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 50px;

  .account-password-full-width {
    width: 100%;
  }

  .button-account-password {
    display: flex;
    justify-content: center;
  }
}
