.container {
  display: contents;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;

  .module {
    cursor: pointer;
    background-color: aquamarine;

    &:hover {
        opacity: 0.8;
    }
  }
}
