<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Question Column -->
      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef> Вопросы </th>
        <td mat-cell *matCellDef="let element"> {{element.question}} </td>
      </ng-container>

      <!-- Tag Column -->
      <ng-container matColumnDef="tag">
        <th mat-header-cell *matHeaderCellDef> Теги </th>
        <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
      </ng-container>

      <!-- BlockQuestion Column -->
      <ng-container matColumnDef="blockQuestion">
        <th mat-header-cell *matHeaderCellDef> Блокирующие вопросы </th>
        <td mat-cell *matCellDef="let element"> {{element.blockQuestion}} </td>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Стоимость вопроса </th>
        <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
