<mat-toolbar color="primary">
    <mat-toolbar-row class="head-content">
        <div class="main-logo">
            <img alt="" src="assets/images/logo_300.png" routerLink="" />
        </div>

        <div class="main-head">
            <div class="tap-head">NestJs + Angular</div>
            <div class="up-head">Fullstack starter</div>
        </div>

        <span class="head-spacer"></span>
        <mat-icon class="material-icons md-48 auth-icon" aria-hidden="false" mat-button routerLink="/account">people</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
