<div class="password-checker">
    <span [translate]="'password-checker.title'"></span>
    <div class="p-grid">
        <div class="rule p-col-6">
            <img class="checkbox" src="{{getCheckboxPath('length')}}" alt="" />
            <span [translate]="'password-checker.length'"></span>
        </div>
        <div class="rule p-col-6">
            <img class="checkbox" src="{{getCheckboxPath('digits')}}" alt="" />
            <span [translate]="'password-checker.digit'"></span>
        </div>
        <div class="rule p-col-6">
            <img class="checkbox" src="{{getCheckboxPath('capital')}}" alt="" />
            <span [translate]="'password-checker.capital'"></span>
        </div>
        <div class="rule p-col-6">
            <img class="checkbox" src="{{getCheckboxPath('lowerCase')}}" alt="" />
            <span [translate]="'password-checker.lowercase'"></span>
        </div>
    </div>
</div>
