.password-checker {
  padding: 10px;
  margin-top: 10px;
  background: grey;

  > div {
    margin: 0;
  }

  span {
    font-size: 14px;
  }

  .rule {
    display: flex;
    align-items: center;

    span {
      font-size: 12px;
    }

    .checkbox {
      height: 1em;
      width: auto;
      margin-right: 10px;
    }
  }
}
