<app-head></app-head>

<div class="container">
    <h1>Users</h1>
    <table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Question Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            {{ element.lastName }}
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Tag Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- BlockQuestion Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Login </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
