<app-head></app-head>
<div class="container">

  <mat-card class="card-foto">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
    <mat-card-actions class="card-button">
      <button mat-raised-button color="primary">Change photo</button>
    </mat-card-actions>
  </mat-card>

  <form class="form-account" [formGroup]="form" (ngSubmit)="onSave()">
    <mat-form-field class="account-full-width">
      <input matInput type="text" placeholder="Last Name" formControlName="lastName" value=""/>
      <mat-error *ngIf="isError('lastName')">
        Invalid Last Name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="account-full-width">
      <input matInput type="text" placeholder="Name" formControlName="firstName" value=""/>
      <mat-error *ngIf="isError('firstName')">
        Invalid name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="account-full-width">
      <input matInput type="text" placeholder="Patronymic" formControlName="patronymic" value=""/>
      <mat-error *ngIf="isError('patronymic')">
        Invalid patronymic
      </mat-error>
    </mat-form-field>

    <mat-form-field class="account-full-width">
      <input matInput type="text" placeholder="Logim" formControlName="login" value=""/>
      <mat-error *ngIf="isError('login')">
        Invalid login
      </mat-error>
    </mat-form-field>

    <mat-form-field class="account-full-width">
      <input matInput type="text" placeholder="E-mail" formControlName="email" value=""/>
      <mat-error *ngIf="isError('email')">
        Invalid email
      </mat-error>
    </mat-form-field>

    <mat-card-actions class="button-save">
      <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
        Save
      </button>
    </mat-card-actions>

  </form>

  <app-account-password></app-account-password>

</div>
