<form #ngForm="ngForm" class="form-account-password" [formGroup]="form" (ngSubmit)="onChangePassword()">
  <mat-form-field class="account-password-full-width">
    <input matInput type="password" placeholder="Текущий пароль" pInputText formControlName="password" value=""/>
    <mat-error *ngIf="!isTruePassword">
      Неверный пароль
    </mat-error>
  </mat-form-field>

  <mat-form-field class="account-password-full-width">
    <input matInput type="password" placeholder="Новый пароль" pInputText formControlName="newPassword" value=""/>
    <mat-error *ngIf="isError('newPassword')">
      Некорректный пароль
    </mat-error>
  </mat-form-field>

  <mat-form-field class="account-password-full-width">
    <input matInput type="password" placeholder="Введите еще раз" pInputText formControlName="repeatNewPassword" value=""/>
    <mat-error *ngIf="isError('repeatNewPassword')">
      Некорректный пароль
    </mat-error>
    <mat-error *ngIf="!isEqualPasswords">
      Пароли не совпадают
    </mat-error>
  </mat-form-field>

  <mat-card-actions class="button-account-password">
    <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
      Сменить пароль
    </button>
  </mat-card-actions>
</form>
