<app-head></app-head>
<div class="container">
  <div class="button-back">
    <a mat-button routerLink="/questions">
      <i class="material-icons md-18">arrow_back_ios</i>
      Go back
    </a>
  </div>

  <form class="form-add-test-question">

    <div class="form-add-test-question-item">
      <label>Question type</label>
      <mat-form-field class="add-test-question-full-width">
        <mat-select [(value)]="selected">
          <mat-option value="option1">Test question</mat-option>
          <mat-option value="option2">Test tasks</mat-option>
          <mat-option value="option3">Code task</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-add-test-question-item">
      <label class="question-label">Question</label>
      <mat-form-field class="add-test-question-full-width">
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div class="form-add-test-question-item double-height">
      <label class="double-label">Answer Options</label>
      <mat-form-field class="add-test-question-full-width">
        <input matInput placeholder="1 option" value="" />
      </mat-form-field>
      <mat-form-field class="add-test-question-full-width">
        <input matInput placeholder="2 option" value="" />
      </mat-form-field>
    </div>

    <div class="form-add-test-question-item">
      <label class="question-label">Evaluation</label>
      <mat-form-field class="add-test-question-full-width">
        <mat-select [(value)]="selected">
          <mat-option value="option1">100%</mat-option>
          <mat-option value="option2">50%</mat-option>
          <mat-option value="option3">0%</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-add-test-question-item double-height">
      <label class="double-label">Tags</label>
      <mat-form-field class="add-test-question-full-width">
        <mat-select [(value)]="selected">
          <mat-option value="option1">Tag1</mat-option>
          <mat-option value="option2">Tag2</mat-option>
          <mat-option value="option3">Tag3</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="add-test-question-full-width">
        <mat-select [(value)]="selected">
            <mat-option value="option1">Tag1</mat-option>
            <mat-option value="option2">Tag2</mat-option>
            <mat-option value="option3">Tag3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-add-test-question-item">
      <label class="question-label">Cost of issue</label>
      <mat-form-field class="add-test-question-full-width">
        <input matInput type="text" value="" />
      </mat-form-field>
    </div>

    <mat-card-actions class="button-add">
      <button mat-raised-button color="primary">Add</button>
    </mat-card-actions>

  </form>
</div>
