.button-back {
  display: flex;
  justify-content: left;
  margin: 20px 0;

  a {
    i {
      width: 25px;
    }
  }
}

.password-recovery-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.password-recovery-label p {
  width: 500px;
  margin: 0 auto;
}

.input-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-password-full-width {
  width: 100%;
}

.button-get-new-password {
  display: flex;
  justify-content: center;
}
