<div class="button-back">
  <a mat-button routerLink="/auth/login">
      <i class="material-icons md-18">arrow_back_ios</i>
      Назад
  </a>
</div>

<div class="item-container">

  <div class="password-recovery-label">
    <p>Вам на почту будет отправлен временный пароль</p>
  </div>
  
  <form class="input-password">
    <mat-form-field class="input-password-full-width">
      <input matInput type="password" placeholder="Пароль" value="" />
    </mat-form-field>
  </form>

  <div class="button-get-new-password">
    <button mat-raised-button color="primary">Получить новый пароль</button>
  </div>

</div>